/* border-box:width 和 height 属性包括内容，内边距和边框，但不包括外边距。 */
html {
    box-sizing: border-box;
    background: #ffc600;
    font-size: 20px;
    font-weight: 200;
}
body{
    margin: 0px;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.panels{
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.panel{
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
}

.panel1 {
    background-image: url("./images/jiajinwen.jpg");
}

.panel2 {
    background-image: url("./images/liminhao.jpg");
}

.panel3 {
    background-image: url("./images/shishi.jpg");
}

.panel4 {
    background-image: url("./images/linyi.jpg");
}

.panel5 {
    background-image: url("./images/zhaowei.jpg");
}

.panel > *{
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.panel p{
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.panel p:nth-child(2){
    font-size: 4em;
}

.panel > *:first-child{
    transform: translateY(-100%);
}

.panel.open-active > *:first-child{
    transform: translateY(0);
}

.panel > *:last-child{
    transform: translateY(100%);
}

.panel.open-active > *:last-child{
    transform: translateY(0);
}

.panel.open{
    flex: 5;
    font-size: 40px;
}


