html{
    background-color: #123456;
    font-family: 'Times New Roman', Times, serif;
}

.inbox{
    background: white;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid  #F1F1F1;
}

.item:last-child{
    border-bottom: 0;
}

input:checked+p{
    background: #F9F9F9;
    text-decoration: line-through;
}

input[type="checkbox"]{
    margin: 20px;
}

p{
    font-size: 20px;
    margin: 0;
    padding: 20px;
    flex: 1;
    transition: background .2s;
    font-weight: 500;
    border-left: 1px solid  #F1F1F1;
}

